/** {
  box-sizing: border-box;
}*/

html {
  background-color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-weight: 300;
}

body {
  margin-top: 40px;
}

h1, h2{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.subtitle {
  text-align: center;
}

button {
  background-color: #f7f7f7;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-style: solid;
  border-color: #1E90FF;
  color: #1E90FF;
}

button:hover {
  background-color: #1E90FF;
  color: #f7f7f7;
}

button:focus {
  outline:none;
  background-color: #5babfa;
}


.video_container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  background-color: #222;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#video {
  /*object-fit: cover;
  position: fixed;
  align-items: center;
  align-content: center;
  align-self: center;*/
  margin-left: -46%;
}


/****************************
            TEST
****************************/
.row{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 25%;
  margin-bottom: 1.5%;
  /*background-color: red;*/
  /*background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;*/
}

.video_screen{
  margin-left: 1%;
  margin-right: 1%;
  /*margin-top: 16px;*/
  /*margin-bottom: 8px;*/
  width: 20%;
  height: 80%;
  background-color: #fafafa;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-color: #eee;
  /*border-color: red;*/
  border-width: 4px;
  border-style: solid;
  /*border-radius: 6px;*/
  display: inline-block;
  text-align: center;
}

.na_text{
  line-height: 200px;
}

.all_videos{
  /*margin-bottom: 60px;*/
  text-align: center;
  height: 600px;
}

#video1, #video2, #video3, #video4, #video5, #video6, #video7, #video8, #video9 {
  /*object-fit: cover;
  position: fixed;
  align-items: center;
  align-content: center;
  align-self: center;*/
  /*margin-left: -25%;*/
  /*border-radius: 6px;*/

}
