/** {
  box-sizing: border-box;
}*/

html {
  background-color: #222;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-weight: 300;
}

body {
  margin-top: 0px;
}


#video {
  margin-left: -46%;
}

.row{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.video_screen{
  margin-left: 2%;
  margin-right: 2%;
  width: 20.7%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-color: #eee;
  display: inline-block;
  text-align: center;
  filter: grayscale(100%);
}

.na_text{
  line-height: 200px;
}

.all_videos{
  text-align: center;
  margin-top: 2%;
}

.knobs {
  text-align: center;
  margin-top: 2%;
  display: none;
}

.knobs_video{
  margin-top: 0.5em;
  width: 100%;
  text-align: left;
  position: absolute;
  z-index: 100;
  display: none;
  padding-left: 10px;
}

canvas{
  height: 30px;
  width: 30px;
  display: block;
  margin-top: 0.2em;
}


video{
  border-radius: 4px;
  border-color: rgba(177,15,46,0);
  border-style: solid;
  border-width: 4px;
}

.gif {
  display: inline-block;
  width:48%;
  color: rgba(255,255,255,0.9);
}